*{
    background-color: #0adbe2;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

div{
    font-size: 50px;
    width: 200px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}

.head{
    text-overflow: ellipsis;

}

.box{
    text-overflow: clip;
}

div:hover{
    text-align: center;
    background-color: #fff;
    color: rgb(230, 31, 31);
    border: solid 10px black;
    width: 400px;
    font-size: 30px;
    overflow: visible;
}